In [3]:
print('Hello world!') #My very first Python code

Hello world!

In [4]:
#Python Data Types
#1. Numbers
# Integers and Float

In [7]:
#Integer (int)
x = 1
y = 2
print (x + y)

3

In [8]:
#Float
x = 1.5
y = 2.0
print (x + y)

3.5

In [9]:
#Strings
x = 'Hello'
y = 'World'
print (x + y)

HelloWorld

In [10]:
print ('My Name is Ian') #Single Quotation Mark

My Name is Ian

In [11]:
print ("My name is Ian") #Double Quotation Mark

My name is Ian

In [15]:
x = '123456'
y = 123456
z = 7890.00
print('This is a string', x)
print("This is an integer", y)
print('This is a float', z)

This is a string 123456
This is an integer 123456
This is a float 7890.0

In [18]:
#/n (for spacing)

print('Ian \nRoi \nCatubig')

Ian
Roi
Catubig

In [22]:
#Mathematical Operators
#Addition (+)
#Subtraction (-)
#Multiplication (*)
#Division (/)
#Exponential (**)
#Floor Division (//)

a = 2
b = 3
print(a + b) #Addition
print(a - b) #Subtraction
print(a * b) #Multiplication
print (a / b) #Division

x = 9
y = 4
print(9 % 4) #Modulo Operator

print(x ** 2)
print(2 ** 3) #Exponential

5
-1
6
0.6666666666666666
1
81
8

In [23]:
print(9 / 5) #Division
print( 9 // 5) #Floor Division

1.8
1

In [24]:
#Comparison Operators

# Less that (<)
#Greater than (>)
#Equal to (==)
#Not equal to (!=)
# Greater than or equal to (>=)
#Less than or equal to (<=)

x  = 10
y = 5
print(x < y)
print(x > y)
print(x == y)
print(x != y)
print(x >= y)
print (x <= y)

False
True
False
True
True
False

In [29]:
#Boolean Operators
#or
#and
#not

print(x or y)
print(x and y)
print(x, not y)

10
5
10 False

In [32]:
#Looping

x = 5

if x == 10:
  print('Equal to')
else:
  print('Less than')

Less than

In [35]:
#Assignement of Variables

#Strings
name = 900
surname = 500
print(name + surname)

#Numbers
hours = 8
score = 90

print(hours)
print(score)

#Naming Variable (always use small cap)

name = 'Ian'
unitPrice = 100
unit_price = 200

IanCatubig
8
90

In [36]:
f_name = 'Ian'
l_name = 'Catubig'
age = 19

print(f"My name is {f_name} {l_name} and I am {age} years old")

My name is Ian Catubig and I am 19 years old

In [40]:
#Built=in functions
#type () to know the data type
#Rounding off round()

x = 9 #Integer
y = 8.7888889999 #float
z = 'Ian' #String

round(y, 0)

9.0